.transactionHistory {
  height: auto;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  box-shadow: 0 4px 5px rgb(0, 0, 0.2), 0 6px 20px rgb(0, 0, 0.2);
  font-size: 15px;
  background-color: white;
}

.th {
  height: 50px;
  background: lightblue;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}
